<div class="card">
  <h1><%= @tadpole.name %> the Tadpole</h1>

  <!-- make form to make "Become a frog" button here -->
  <!-- the form should post to /tadpoles/:id/metamorphosize -->

  <p>Color: <span class="color" style="color:<%=@tadpole.color%>;"><%= @tadpole.color %></span></p>
  <p>Parent: <a href="/frogs/<%= @tadpole.frog.id %>"><%= @tadpole.frog.name %></a></p>
  <p>Lives: <a href="/ponds/<%= @tadpole.pond.id %>"><%= @tadpole.pond.name %></a></p>

  <%= link_to "Back", {action: "index"}, {class: "btn btn-primary"} %>
  <%= link_to "Edit", {action: "edit"}, {class: "btn btn-primary"} %>
  <%= link_to "Delete", {action: "destroy"}, {class: "btn btn-primary"} %>
<<<<<<< HEAD
  <%= button_to "Become a frog", {action: "metamorphosize"}, {class: "btn btn-primary"} %>
=======
  <%= link_to "Become a frog", {action: "metamorphosize"}, {class: "btn btn-primary"} %>
>>>>>>> 601790c1bbc3ebc3afc5d9d9c5afc9b71e69c543
</div>

<div class="card">
  <img src="http://<%= @tadpole.color %>-tadpole.jpg.to/" alt="Tadpole Picture" width="300">
</div>