<div class="card">
  <h1><%= @tadpole.name %> the Tadpole</h1>

  <!-- make form to make "Become a frog" button here -->
  <!-- the form should post to /tadpoles/:id/metamorphosize -->

  <p>Color: <%= @tadpole.color %></p>
  <p>Parent: <%= link_to @tadpole.frog.name, frog_path(@tadpole.frog) %></p>
  <p>Lives: <%= link_to @tadpole.pond.name, pond_path(@tadpole.pond) %></p>
  <p>
    <%= form_tag(metamorphose_tadpole_path(@tadpole)) do %>
      <%= submit_tag "Become a frog" %>
    <% end %>
  </p>

  <%= link_to "Back", tadpoles_path %> | <%= link_to "Edit", edit_tadpole_path(@tadpole) %> | <%= link_to "Delete", destroy_tadpole_path(@tadpole) %>
</div>

<div class="card">
  <img src="http://<%= @tadpole.color %>-tadpole.jpg.to/" alt="Tadpole Picture" width="300">
</div>
