<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<div class="card">
  <h1><%= @frog.name %> the Frog</h1>

  <p><a href="/frogs/<%= @frog.id %>/tadpoles/new" class="btn btn-primary">Create new tadpole baby</a></p>

  <p>Color: <span class="color" style="color:<%=@frog.color%>;"><%= @frog.color %></span></p>
  <p>Lives: <a href="/ponds/<%= @frog.pond.id %>"><%= @frog.pond.name %></a></p>
  <% unless @frog.tadpoles.empty? %>
    <h2>Children</h2>
    <ol>
      <% @frog.tadpoles.each do |tadpole| %>
        <li><a href="/tadpoles/<%= tadpole.id %>"><%= tadpole.name %></a></li>
      <% end %>
    </ol><br>
  <% end %>
  <div class="actions">
    <%= link_to "Back", {action: "index"}, {class: "btn btn-primary"} %>
    <%= link_to "Edit", {action: "edit"}, {class: "btn btn-primary"} %>
    <%= link_to "Delete", {action: "destroy"}, {class: "btn btn-primary"} %>
  </div>
  
</div>

<div class="card">
  <img src="http://<%= @frog.color %>-frog.jpg.to/" alt="Frog Picture" width="350">
</div>